html
	head
		title О нас
		include links.pug
	body
		include navbar.pug
		+navbar("about-us")
		
		#about-us.center
			p О нас
			h1 Handmade Naziya
			div(style="text-align: left") Ea minus rerum suscipit atque hic ex. Beatae nostrum est incidunt sed ut ea dolor. Molestiae autem molestiae velit. Laboriosam voluptates consequatur aut veritatis dolorum doloribus nihil delectus. Quidem qui porro repellendus. Quia sed non mollitia quo. Asperiores consequatur qui perspiciatis quis aut praesentium. Qui iusto aut aut. Quis odio ut laborum consequuntur consectetur in. Beatae accusamus ut sit quidem. Omnis quis rerum non iure pariatur. Officiis fuga aliquid iste modi. Nam dolor dignissimos earum quia rerum est. Aspernatur inventore rerum illum. Ut officiis saepe sapiente perspiciatis. Totam quod sunt aperiam beatae. Laudantium nulla occaecati mollitia numquam nemo commodi. Et sint vel recusandae nesciunt culpa et et id. Tempora debitis facilis id sequi provident et. Optio culpa animi cum beatae praesentium. Aperiam corporis sequi nulla maxime alias architecto. Accusamus sint expedita veritatis vel tempore id. Fugit at reprehenderit totam cupiditate eum. Alias consequuntur eum non veniam. Neque nulla corrupti qui commodi minus consequatur.
			.about-us-images
				div
					img(src="/public/placeholder.jpeg")
				div
					img(src="/public/placeholder.jpeg")
				div
					img(src="/public/placeholder.jpeg")
				div
					img(src="/public/placeholder.jpeg")
		include footnote.pug
