meta(charset="utf8")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel='stylesheet', href='/public/style.css', type='text/css')
| &#x9;&#x9;
script(src='/public/main.js', type='text/javascript')
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css")
