html
	head
		title Смена пароля
		include links.pug
	body
		include navbar.pug
		+navbar("")
		#admin.center
			p Админ
			a.back(href="/admin/settings", title="Обратно")
				i.fas.fa-arrow-left
			h1 Смена пароля
			p=message
			form(action="/admin/password", method="POST")
				label(for="newPassword") Новый пароль: 
				input(name="newPassword", placeholder="Новый пароль", type="password")
				br
				br
				label(for="passwordRepeat") Повторите пароль: 
				input(name="passwordRepeat", placeholder="Повторите пароль", type="password")
				br
				br
				button.add-button(type="submit") Сохранить
		
		include footnote.pug
